html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrap {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.jsonUtil table {
  border-collapse: collapse;
}

.jsonUtil .json {
  border: 1px solid #bbb;
  font-family: monospace;
  line-height: 150%;
  background-color: #fff;
  word-break: break-all;
}

.jsonUtil .json .string {
  color: #f00;
}

.jsonUtil .json .number {
  color: #090;
}

.jsonUtil .json .boolean {
  color: #00f;
}

.jsonUtil .json .null {
  color: #f0f;
}

.jsonUtil .json .key {
  color: #777;
}

.jsonUtil .json .string,
.jsonUtil .json .number,
.jsonUtil .json .boolean,
.jsonUtil .json .null {
  font-weight: bold;
}

.jsonUtil .json .pojo {
  cursor: pointer;
}

.jsonUtil .json .pojo.fold:before {
  content: '+';
}

.jsonUtil .json .pojo:before {
  content: '-';
}

.jsonUtil .json .pojo.fold .members {
  display: none;
}

.jsonUtil .src {
  height: 300px;
  resize: none;
}

.jsonUtil .dstJava {
  height: 500px;
  white-space: pre;
  resize: vertical;
}

.jsonUtil .dstPretty {
  white-space: pre;
  overflow: scroll;
}

.ddlToJava .src,
.SqlCreateStatementToAhaWikiFormat .src {
  width: 100%;
  min-height: 500px;
  white-space: pre;
  overflow: scroll;
}

.ddlToJava .dstJava,
.SqlCreateStatementToAhaWikiFormat .dstJava,
.ddlToJava .dst,
.SqlCreateStatementToAhaWikiFormat .dst {
  width: 100%;
  min-height: 500px;
  white-space: pre;
  overflow: scroll;
}